{% extends "layout.html" %}

{% block pagestyles %}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}
{% if result_text is defined %}
<h1>{{ result_text }}</h1>
{% endif %}

{% if current_user.is_authenticated %}

<p>Ahoj, {{ current_user.name }}! Jsem <b>Text2Bank</b> - tvůj virtuální bankovní asistent.</p>

<br><br> Co chceš abych za tebe <b>vykonal nebo změnil?</b> <br> 
<b>Nastaly potíže</b> s bankomatem, platbami nebo s platební kartou? <br> 
Zdá se ti, že se někdo <b>naboural</b> do tvého účtu?<br> 
Nebo se chceš prostě na něco <b>zeptat</b>, například ohledně aplikace, změnného kurzu nebo o poplatcích?<br> 


{% if query_form is defined %}

<div class="form-wrapper">

    <div class="logo">
        <img src="{{ url_for('static', filename='img/text2bank.png') }}" alt="logo" />
    </div>

    <form method="POST" action="/">
        {{ query_form.csrf_token }}

        <fieldset>
            <!-- {{ query_form.input.label }} -->
            {{ query_form.input(size=50, placeholder='Zde podrobněji popiš, jaký máš záměr.') }}
        </fieldset>

        <div class="submit-button">
            {{ query_form.submit }}
        </div>

    </form>

    <br>


    <a href="{{ url_for('main_bp.dashboard_tip') }}">Nevíš si rady? Klikni pro tip</a>

</div>

{% endif %}

{% endif %}


<br><br>

{% endblock %}