{% extends "layout.html" %}

{% block pagestyles %}
<link href="{{ url_for('static', filename='css/help.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}


<div class="help-wrapper">
    <h1>Nápověda</h1>

    <div class="content">
        <p>
            Děkujeme za pomoc na aplikaci <b>Text2bank</b>.
        </p>
        <p>
            Naším cílem je vytvořit jednoduchého textového asistenta pro snadné
            ovládání internetového bankovnictví.
        </p>
        <h2>
            Jak nám pomůžete?
        </h2>
        <p>
            Potřebujeme získat co nejvíce dat „ze života“. Prosíme vás o
            zadávání příkazů a otázek, která se podobají ideálnímu způsobu,
            jakým byste chtěli mluvit s vaším bankovním asistentem.
        </p>
        <p>
            Příkazy by se měly týkat běžných činností (zadat trvalák, zaplatit
            kreditku, zjistit zůstatek na hypotéce…).
        </p>
        <p>
            Čím víc dat takto získáme, tím chytřejší náš systém bude. <b>A právě
                proto potřebujeme Vaši pomoc</b> :)
        </p>
        <br>
        <h2>
            Návod
        </h2>
        <p>
            Na začátku zadejte email a nějaké jednoduché heslo k registraci.
            Poté postupujte takto:
        </p>
        <ol>
            <li>Zadejte svůj příkaz asistentovi (třeba „chci zaplatit
                kreditku“)
            </li>
            <li>Objeví se výsledky, které asistent připraví. <b>Ideální
                    případ:</b></li>
            <ul>
                <li>Téma svého dotazu najdete mezi TOP3 výsledky včetně správně
                    rozpoznaných parametrů dotazu (částka, měna…)
                </li>
                <li>Vyberte správnou možnost a pokračujte zadáním dalšího
                    dotazu
                </li>
            </ul>
            <li>Pokud se asistent <b>netrefil</b> a v TOP3 zadané téma
                nenajdete:
            </li>
            <ul>
                <li>Vyberte jej, prosím, ze seznamu pod nadpisem „Nesedí ani
                    jedno z výše uvedených?“
                </li>
                <li>Případně přidejte svůj komentář či připomínku (např. špatně
                    rozpoznaná částka)
                </li>
                <li>Pak stačí kliknout na tlačítko "Odeslat zpětnou vazbu" a
                    můžete zadat další dotaz.
                </li>
            </ul>

        </ol>
        <br>
        <h2>
            Pár tipů
        </h2>
        <ul>
            <li>Zamyslete se, prosím, co jste za poslední měsíc řešili ve svém
                elektronickém bankovnictví?
            </li>
            <li>Byly to platby, stahování výpisů či jiné činnosti?</li>
            <li>Představte si, že místo klasického ovládání můžete svůj
                požadavek nadiktovat v jedné větě.
            </li>
            <li>Napište cokoliv vás napadne, co byste chtěli od bankovního
                asistenta, aby za vás udělal
            </li>
            <ul>
                <li>Jedná se o triviální každodenní dotazy / něco komplexnější,
                    co třeba řešíte jenom jednou za čas?
                </li>
            </ul>
            <li>Neřešte, jestli je lepší napsat trvalý příkaz nebo opakovaná
                platba, prostě to napište.
            </li>
            <li>Klidně zkuste pro stejnou situaci několik variant, jak vás
                napadá, že by se dal dotaz zadat.
            </li>
            <li>Pomůže i to, když se zeptáte lidí kolem sebe, jak by své dotazy
                napsali oni - čím pestřejší vzorek dotazů, tím lépe.
            </li>
            <li>Nevymýšlejte žádné „špeky“ a finty, zatím se učíme základy.
                Pokud o řešení bude zájem, na špeky určitě ještě dojde v dalších
                kolech 😊
            </li>
        </ul>
        <p>
            <b>Velice děkujeme za celý tým 😊</b>
        </p>
    </div>
    <br>
    <a href="{{ url_for('main_bp.dashboard') }}">Návrat domů</a>
    <br>
    <br>
</div>


{% endblock %}