<!DOCTYPE html>
<html lang="cz">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ title }}</title>
    <meta name="description"
          content="Text2Bank aplikace pro Internet Banking."/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <meta name="theme-color" content="#5eb9d7"/>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/favicon.png') }}"
          type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Helvetica:200,300,500"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/layout.css') }}"
          rel="stylesheet" type="text/css">
    {% block pagestyles %}

    {% endblock %}
</head>

<body class="{{ template }}">
<div class="container">
      <div class="logo-top">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" />
        </div>
    {% block content %}{% endblock %}
</div>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% block additionalscripts %}{% endblock %}

<footer>
    <p>
        Kontakt: <a href="mailto:samuel.fabo@profinit.eu" class="">samuel.fabo@profinit.eu</a>,
        <a href="{{ url_for('main_bp.help') }}" class="">Nápověda</a> {{ version_tag }}
    </p>
</footer>


</body>

</html>