{% extends "layout.html" %}

{% block pagestyles %}
<link href="{{ url_for('static', filename='css/account.css') }}"
      rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="form-wrapper">

    <div class="logo">
        <img src="{{ url_for('static', filename='img/text2bank.png') }}" alt="logo"/>
    </div>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;
        </button>
        {{ message }}
    </div>
    {% endfor %}

    <h1>{{ title }}</h1>

    <p>{{ body }}</p>

    <form method="POST" action="/login">
        {{ form.csrf_token }}

        <fieldset class="name">
            {{ form.name.label }}
            {{ form.name(size=40, placeholder='tvé jméno, nebo mail@priklad.com') }}
        </fieldset>

        <div class="submit-button">
            {{ form.submit }}
        </div>

    </form>
</div>
{% endblock %}