{% extends "layout.html" %}

{% block pagestyles %}
<link href="{{ url_for('static', filename='css/dashboard.css') }}"
      rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}
<h1>{{ body }}</h1>

<!-- {% if current_user.is_authenticated %} -->


{% if query_response is defined %}

<div class="form-wrapper">

    <div class="logo">
        <img src="{{ url_for('static', filename='img/text2bank.png') }}" alt="logo" />
    </div>


    {% if query_text is defined %}

        <!--                    <h3 style="color:#5f6988">Zadaný dotaz:</h3>-->
        <p>Zaznamenal jsem Tvůj záměr:</p>
        <h4 style="color:#5f6988">{{ query_text }}</h4>

        <br>

    {% if not_sure is defined %}
        {% if not_sure %}
            
            <h1, style="color: red;">Mrzí mě to, ale mám pocit, že ti s timhle neumím pomoci.</h1>
            <br>
            <p><i>Jestli nevíš, co všechno umím, vzhlédni na tipy (na hlavní obrazovce). Taky možná stačí, když mi napíšeš tvůj záměr v českém jazyce a užiješ diakritiku.</i><p>
            <br>
            <p, style="font-size: 1.5em;">Myslíš, že jsem se trefil? Klikni na příslušné tlačítko.</p>
            
        {% else %}
            
            <p>Trefil jsem se? Klikni na příslušné tlačítko.</p>

        {% endif %}
    {% endif %}

    {% endif %}



    {% if entities is defined and entities|length > 0 %}
    <h4 style="color:#5f6988">Vyextrahované entity:
        {% for key, value in entities.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
    </h4>
    {% endif %}

    <form method="POST" action="/results">
        {{ query_response.csrf_token }}

        <div class="submit-button">
            {{ query_response.res0 }}
        </div>

        <div class="submit-button">
            {{ query_response.res1 }}
        </div>

        <div class="submit-button">
            {{ query_response.res2 }}
        </div>

        <br>
        <br>

        <p>Netrefil jsem se ani do jednoho z nich?</p>

        {{ query_response.actions }}

        <br>
        <br>

        <fieldset>
            {{ query_response.input_else(size=50, placeholder='a/nebo svůj záměr okomentuj zde.') }}
        </fieldset>


        <div class="submit-button">
            {{ query_response.res_else }}
        </div>


    </form>
</div>


{% endif %}

<!-- {% endif %} -->

{% endblock %}
