{% extends "layout.html" %}

{% block pagestyles %}
<link href="{{ url_for('static', filename='css/account.css') }}"
      rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="form-wrapper">

    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
    </div>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;
        </button>
        {{ message }}
    </div>
    {% endfor %}

    <h1>Registrace</h1>

    <p>{{ body }}</p>

    <form method="POST" action="/signup">
        {{ form.csrf_token }}

        <fieldset class="name">
            {{ form.name.label }}
            {{ form.name(placeholder='Jana Novotna') }}
            {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <fieldset class="email">
            {{ form.email.label }}
            {{ form.email(placeholder='vasemail@priklad.com') }}
            {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <fieldset class="password">
            {{ form.password.label }}
            {{ form.password }}
            {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <fieldset class="confirm">
            {{ form.confirm.label }}
            {{ form.confirm }}
            {% if form.confirm.errors %}
            <ul class="errors">
                {% for error in form.confirm.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <div class="submit-button">
            {{ form.submit }}
        </div>

    </form>

    <div class="login-signup">
        <span>Již máte účet? <a href="{{ url_for('auth_bp.login') }}">Přihlašte se</a></span>
    </div>
</div>
{% endblock %}