{% extends "layout.html" %}

{% block pagestyles %}
<link href="{{ url_for('static', filename='css/help.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}


<script>
    window.setTimeout(function () {

        // Move to a new location or you can do something else
        window.location.href = "{{ url_for('main_bp.dashboard') }}";

    }, 6000);

</script>

<div class="help-wrapper">

    <div class="check">
        <img src="{{ url_for('static', filename='img/check.png') }}" alt="OK" />
    </div>


    <p style="font-size: 1.5em;">Děkuji za dotaz. Za chvíli Tě přesměruji zpátky, protože ještě nejsem napojen na tvou banku.</p>


    <div class="back">
        <span><a class="button" href="{{ url_for('main_bp.dashboard') }}">Návrat zpátky</a></span>
    </div>



</div>


{% endblock %}