.help-template {
    color: black;
    background: #5eb9d7
}

.help-template .container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content
}

.help-template .container h1 {
    font-family: 'Helvetica', sans-serif;

    line-height: 1
    color: black
}

.help-template .content p {
    font-size: 1.2em;

    color: black
}

.help-template .help-wrapper {
    background: white;
    width: 670px;
    max-width: 770px;
    margin: 80px auto 0;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
    padding: 50px
}

.help-template .content {
    text-align: left;
    font-size: 1em;


    color: black
}

.help-template li {
    line-height: 2em
}


/* .help-template img {
    max-width: 70%;
    height: auto;
  } */

.help-template .check img {
    max-width: 30%;
    height: auto;
  }

.help-template .button {
    padding: 10px 13px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
    border-radius: 2px;
    border: 1px solid #d4d9e3;
    font-weight: 200;
    color: #4d5060;
    font-family: 'Helvetica', sans-serif;
    transition: all .3s ease-out;
    font-size: .9em;
    outline-color: transparent;
    outline-style: none
}

.help-template .button:hover {
    cursor: pointer;
    background: white;
    color: #5eb9d7
}