html, body {
    font-family: 'Helvetica', sans-serif;
    height: 100%;
    margin: 0;
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: white;
	color: black;
	text-align: center;
}

.logo-top {
    /* height: auto; */
	max-height: 10%;
	margin-top: 25px;
	text-align: center;
  }

.logo-top img {
    max-width: 20%;
	max-height: 10%;
	margin-top: 25px;
	/* margin: 0 auto 20px */
  }